
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="~/stylesheet.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Online Shopping</a>
    </div>
    <div class="collapse navbar-collapse" >
               <ul class="nav navbar-nav">
                   <li><a href="/Home/Index">Home</a></li>
                   <li><a href="/Women/Women">Women</a></li>
                   <li><a href="/Men/Men">Men</a></li>
                   <li><a href="/Children/Children">Children</a></li>
                   <li><a href="/AboutUs/Aboutus">About Us</a></li>
                    <li><a href="/Login/server">Admin</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                 <li><a href="/SignUp/signup"><span class="glyphicon glyphicon-user" id="btn1"></span> Sign Up</a></li>
                <li><a href="/Login/Login"><span class="glyphicon glyphicon-log-in" id="btn2"></span> Login</a></li>
                   
               </ul>
           </div>
             
       </div>
   </nav>
    @RenderBody()

    <div class="navbar navbar-inverse">
        <div class="container-fluid">
                 <footer>
                     <p>Copy Rights Reserved</p>
                 </footer>
            </div>
        </div>
 
     @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
