
@model shoppingwebsite.Models.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
    body {
        background-color:beige;
    }
    #login {
    font-family:'Arabic Typesetting';
    font-style:italic;
    font-size:60px;
    margin-left:50px;
    margin-top:50px;
}
     input {
        margin-left:40px;
        font-family:'Times New Roman';
        font-size:20px;
    }
    Label {
        margin-left:100px;
        font-family:'Times New Roman';
        font-size:30px;
    }
</style>

<div class="tweaked-margin" id="log">
    <h2 id="login">Login</h2>
@using(Html.BeginForm("Login","Login",FormMethod.Post))
{
    //create form tag
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if(@ViewBag.Message!=null)
    {
     <div style="border:1px solid red">
         @ViewBag.Message
     </div>   
        
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a=>a.username)</td>
            <td>@Html.TextBoxFor(a=>a.username)</td>
            <td>@Html.ValidationMessageFor(a=>a.username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a=>a.password)</td>
            <td>@Html.TextBoxFor(a=>a.password)</td>
            <td>@Html.ValidationMessageFor(a=>a.password)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
}
    </div>
 
@*@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")*@

